@import "tailwindcss";

/* Pretendard 폰트 face 정의 */
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "NCS Radhiumz";
  src: url("/fonts/ncs-radhiumz.regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@theme {
  /* 브랜드 컬러 - primary (파란색 계열) */
  --color-primary-100: #f1f4ff;
  --color-primary-200: #d3e1ff;
  --color-primary-300: #87aefd;
  --color-primary-400: #437efc;

  /* 브랜드 컬러 - monochrome (흑백 계열) */
  --color-monochrome-100: #fff;
  --color-monochrome-200: #eef1f3;
  --color-monochrome-300: #e4e7e9;
  --color-monochrome-400: #d9d9d9;
  --color-monochrome-500: #979fa7;
  --color-monochrome-600: #79818a;
  --color-monochrome-700: #000b25;

  /* 브랜드 컬러 - highlight */
  --color-highlight-1: #f24e4e;
  --color-highlight-2: #ff0;

  /* 브랜드 gradient 정의 */
  --gradient-highlight: linear-gradient(120deg, #6697ff 5.35%, #9af2b5 100%);

  /* Pretendard 폰트 정의 */
  --font-pretendard: "Pretendard", system-ui, sans-serif;

  /* NCS Radhiumz 폰트 정의 : 홈화면 타이틀 */
  --font-ncs-radhiumz: "NCS Radhiumz", "Pretendard", system-ui, sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* 커스텀 gradient 클래스 */
.bg-gradient-highlight {
  background: var(--gradient-highlight);
}

/* 반투명 버튼 스타일 */
.button-bg-blur {
  border: 1px solid rgba(255, 255, 255, 0.57);
  background: rgba(241, 244, 255, 0.41);
  backdrop-filter: blur(2px);
}

/* 반투명한 border 스타일 */
.border-blur {
  border: 2px solid rgba(255, 255, 255, 0.57);
}
.border-blur-sm {
  border: 1px solid rgba(255, 255, 255, 0.57);
}

:root {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  /* place-items: center; */
  max-width: 800px;
  min-width: 360px;
  font-family: "Pretendard";
  color: #000b25;
}
